<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Orbit Store Backend</display-name>

    <servlet>
        <servlet-name>HealthServlet</servlet-name>
        <servlet-class>com.orbitstore.controller.HealthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HealthServlet</servlet-name>
        <url-pattern>/api/health</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.orbitstore.controller.AuthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/api/auth/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.orbitstore.filter.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/api/auth/me</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.orbitstore.controller.CategoryServlet</servlet-class>
        </servlet>

    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/api/categories</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.orbitstore.controller.ProductServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/api/products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductImageServlet</servlet-name>
        <servlet-class>com.orbitstore.controller.ProductImageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductImageServlet</servlet-name>
        <url-pattern>/api/product-images</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.orbitstore.controller.CartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/api/cart/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WishlistServlet</servlet-name>
        <servlet-class>com.orbitstore.controller.WishlistServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WishlistServlet</servlet-name>
        <url-pattern>/api/wishlist/*</url-pattern>
    </servlet-mapping>

</web-app>